@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*general*/
body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}
header {
    grid-column: 2 / 4;
}

aside {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

main {
    display: grid;
    
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

main .projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

footer {
    grid-column: 1 / 4;
    grid-row: -1;

    text-align: center;
    align-self: center;
}

